@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500&family=Montserrat:ital,wght@0,400;0,500;0,700;0,800;0,900;1,600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

* {
    scroll-behavior: smooth;
}

.text-blue {
    color: #57B8FF;
}
.text-white {
    color: #ffffff;
}

.text-white-grey {
    color: #999999;
}

.border {
    border: #ffffff 2px solid;
}

.bg-opocitys {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
}

.bg-image {
    background-image: url('../src/assets/game-services1.png');
    
}

.smooth1{
    background-image: url(./assets/smooth-1.png);
}
.smooth2{
    background-image: url(./assets/smooth-2.png);
}
.smooth3{
    background-image: url(./assets/smooth-3.png);
}
.bg-search-panel {
    background-image: url(./assets/bg-search-panel.png);
}

.container {
    margin: auto 0;
}